*{
    margin: 0;
    padding: 0;
}
.heading{ 
    width: none;
    height: 30px;
    display: block;
    background-color: #D8D8D8;
    text-align: center;
}
.menu-bar{
    text-align: center;
    width: auto;
}
.menu-bar ul{
    display: flex;
    list-style:none;
    background-color: purple;
    font-family: sans-serif;
}
.menu-bar ul li a{
    width:110px;
    margin: 15px;
    padding: 0.5px;
    text-align: center;
    display: inline-block;
    color: white;
}
.menu-bar ul ul{
   margin-left: 400px;
}
.nav-text{
    margin-left: 500px;
    display: flex;
    padding: 0.5px;
    text-align: center;
    display: inline-block;
}
.nav-text a{
    text-align: center;
    color: white;
    padding: 0 10px;
}

.upper-head{
    margin: 15px;
    text-align: center;
    width: auto;
}
.upper-head ul{
    display: flex;
    margin-left: 50px;
    background-color: white;
    text-decoration: none;
}
.upper-head img{
    height: 35px;
}
.upper-head ul li{
    width:111px;
    margin: 10px;
    display: inline-grid;
    color: black;
    font-family: sans-serif;
}
.upper-head ul li a{
    color: black;
}
section{
    display: flex;
    height: 500px;
}
.left-header{
    width: 65%;
    height: 200px;
    overflow: hidden;
    margin-top: 85px;
    padding: 60px;
}
.left-header h1 p{
    font-size: 80px;
    font-stretch: 100%;
    font-style: normal;
    color: purple;
    text-align: left;
}
.left-header p{
    color: black;
    font-size: 17px;
    font-weight: 20;
    font-family: serif;
}
.right-header{
    width: 30%;
    height: auto;
    overflow: hidden;
    margin-top: 100px;
    margin-right: 100px;
}
.left-header img{
    width: 600px; 
    height: 500px; 
}
.req{
    margin: 70px;
    height: 40px;
    line-height: 2.5;
}
.req p{
    font-family: serif;
    font-size: 30px;
    font-weight: 10px;
    color: purple;
}
.name{
    margin: 70px;
    font-size: 18px;
    height: 200px;
    line-height: 2.5;
}
.name input{
    min-width:65%;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
}
.contact-check{
    margin: 70px;
    line-height: 2rem;
    font-size: 18px;
}
.hide-phone{
    display: none;
}
.line{
    margin-left: 70px;
    margin-right: 470px;
}
.telus{
    font-family: serif;
    font-size: 30px;
    font-weight: 10px;
    color: purple;
    margin: 70px;
}
.company{
    margin: 70px;
    font-size: 18px;
    font-weight: 200px;
    line-height: 2.8;
}
.company input{
    min-width:65%;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
}
.company a input{
    min-width:30%;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    white-space:pre-wrap;
}
.issue{
    font-family: serif;
    font-size: 30px;
    font-weight: 10px;
    color: purple;
    margin: 70px;
}
.registration-check{
    margin: 70px;
    font-weight: 200px;
    line-height: 2rem;
}
.registration-check li input{
    font-size: 18px;
    min-width: 65%;
}
.hidden input{
    font-size: 18px;
    border-radius: 5px;
    min-width: 65%;
    height:50px;
    line-height: 2rem;
}
.hidden-phone{
    display: none;
}
.hidden-email{
    display: none;   
} 
.detail{
    font-family: serif;
    font-size: 30px;
    font-weight: 10px;
    color: purple;
    margin: 70px;
    line-height: 2.8;
}
.privacy{
    margin: 70px;
    font-size: 18px;
    font-weight: 200px;
}
.privacy a{
    text-decoration: underline;
    color: black;
}
.privacy input{
    background-color: darkgreen;
    cursor: pointer;
    height: 55px;
    min-width:18%;
    text-align: center;
    font-size: 20px;
    text-decoration-color: white;
    color: white;
    border-radius: 8px;
}
.help{
    margin: 70px;
}
.help a{
    text-decoration: underline;
    color: black;
}
.feedback{
    background-color: aliceblue;
    height: 40px;
}
.feedback a{
    text-align: center;
    text-decoration: underline;
    color: black;
}
.feedback p{
    margin: 100px;
    height: 5px;
}
.all-list{
    background-color: #2A2C2E;
}
.row{
    margin-left: 90px;
}
.column{
    display: table;
    padding: 40px;
    text-align: left;
    color: white;
    display: table-cell;
}
.column a{
    font-size: 16px;
    color: white;
    line-height: 1.8;
    font-family: sans;
    padding: 10px;
    text-decoration-line: none;
}
.last-line{
    margin-right: 90px;
    margin-left: 110px;
}
.logo-last {
    margin-left: 100px;
    height: 50px;
}
.logo-last img{
    height: 25px;
}
.logo-last span{
    margin-left: 922px;
    color: white;
}
