* {
    box-sizing: border-box;
   
  }
  
  body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: #F4F9F2;
    margin: 0;
    padding: 0;
  }
  
  .calculator {
    background: black;
    border-radius: 3rem;
    color: white;
    height: 50rem;
    padding: 2rem;
    position: relative;
    width: 25rem;
    margin: 5rem;
    margin-left: 20rem;
  }
  
  .container {
    display: flex;
    height: 12rem;
    padding: 0 20px;
  }
  
  .value {
    font-size: 5rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    text-align: right;
    overflow: hidden;
  }
  
  .buttons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
  .button {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 2.5rem;
    height: 4.3rem;
    justify-content: center;
    transition: filter .3s;
    width: 4.3rem;
  }
  
  .button.function {
    color: black;
    background: #a5a5a5;
  }
  
  .button.operator {
    background: #f1a33c;
  }
  
  .button.number-0 {
    border-radius: 5rem;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 4rem;
    width: 10rem;
  }
  
  .button:active,
  .button:focus {
    filter: brightness(120%);
  }
  
  .bottom {
    width: 12rem;
    height: 0.2rem;
    background: white;
    border-radius: 4px;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .head{
    background-color: lightgrey;
    width: 23rem;
    border: 0.3rem solid black;
    border-radius: 1rem;
    margin: 1rem;
    margin-left: 45rem;
    font-size: 4rem;
    text-align: center;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    justify-content: center;
  }
  
  .flex-container > div {
    background-color: lightgray;
    width: 12rem;
    margin: 1rem;
    text-align: center;
    line-height: 4rem;
    font-size: 30px;
    cursor: pointer;
    color:gray;
  }
  .flex-container > div:hover {
    color: black;
  }
